@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the errors below")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId, "Membership Type")
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(items: Model.MembershipTypes, dataValueField: "Id", dataTextField: "Name"), "--Select Membership Type--", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate, "Date of Birth")
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0: dd MMM yyyy}", new { @class = "form-control", @placeholder = "e.g. 01 Jan 1980 or 01/01/1980", @type = "text" })
        @Html.ValidationMessageFor(m => m.Customer.BirthDate)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
            Subscribed To Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <button type="submit" role="button" class="btn btn-primary">Save</button>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}